body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f6e9;
    width: 100%;
}

article{
    display: flex;
    text-align: center;
    padding: 4.5vh;
    padding-top: 0vw; padding-bottom: 0vw;
}

section{
    width: 100%;
}

/* HEADER */

header{
    position: fixed;
    display: flex;
    width: 100%;
}

header>nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}

header>nav>ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 2vw
}

header>nav>ul>li{
    justify-content: space-between;
}

header>nav>ul:nth-of-type(1)>li>a{
    justify-content: space-between;
    padding:5vh; padding-left: 13vh;
}

header>nav>ul>li>a{
    width: 100vh;
    padding: 2vw;
    padding-bottom: 1vw; padding-top: 1vw;
    background-color: #f8f6e9;
    border-radius: 15%;
}

header>nav>ul>li>a:hover{
    background-color: #590209;
    color: #f8f6e9;
}

/* MAIN */

/* INICIO */

main>section:nth-of-type(1) {
    display: flex;
    flex-direction: row;
}

section:nth-of-type(1)>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section:nth-of-type(1)>article>div>p>a{
    border: solid;
    border-color: #590209;
    border-radius: 20px;
    border-width: 3px;
    padding: 2vw;
}

/* QUIEN SOMOS */

main>section:nth-of-type(2){
    display: flex;
    flex-direction: row;
    background-color: white;
}

section:nth-of-type(2)>article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section:nth-of-type(2)>article>div:nth-of-type(1){
    height: 110px;
}

section:nth-of-type(2)>article>div:nth-of-type(3) {
    padding-top: 15px;
}

section:nth-of-type(2)>article>div>p>a{
    border: solid;
    border-color: #590209;
    border-radius: 20px;
    border-width: 3px;
    padding: 2vw;
}


/* WHAT WE OFFER */

section:nth-of-type(3)>article{
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(3)>article>div>p>a{
    border: solid;
    border-color: #590209;
    border-radius: 20px;
    border-width: 3px;
    padding: 2vw;
}

picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vw;
}

section:nth-of-type(4){
    padding-bottom: 125px;
}

section:nth-of-type(4)>article{
    padding-left: 5vw;
    padding-right: 6vw;
}

section:nth-of-type(4)>article>div>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 80%;
}

li{
    text-align: justify;
    padding-bottom: 1vw;
}

section:nth-of-type(4)>div{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
}

section:nth-of-type(4)>article>picture{
    display: flex;
    flex-direction: column;
}

/* PARTNERS */

section:nth-of-type(5)>article{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 125px;
}

section:nth-of-type(5)>article>p>a{
    border: solid;
    border-color: #590209;
    border-radius: 20px;
    border-width: 3px;
    padding: 2vw;
}

section:nth-of-type(5)>article:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

section:nth-of-type(5)>article:nth-of-type(2)>div{
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

section:nth-of-type(5)>article:nth-of-type(2)>div>p{
    text-align: justify;
    padding-left: 6vh; padding-right: 6vh;
    font-size:30px;
}

/* */

/* LETRAS */

h1,h3,p,a{
    color: #590209;
    text-align: center;
}

h1{
    font-size:70px;
}

strong{
    font-size:50px;
}

a{
    text-decoration:none;
}

p{
    font-size: 50px;
}

section:nth-of-type(3)>article>div>p {
    font-size: 40px;
}

section:nth-of-type(3)>article>div>p>strong {
    font-size: 40px;
}

section:nth-of-type(4)>article>div>ul>li{
    font-size: 28px;
}

section:nth-of-type(4)>article>div>picture>p>strong {
    font-size: 40px;
}

picture>strong{
    font-size: 35px;
    color:#590209;
    padding-top:2vw;
}

section:nth-of-type(5)>article>p{
    font-size: 40px;
}

section:nth-of-type(5)>article>h2{
    color:#590209;
    font-size: 50px;
}